.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-200);
}

.emoji {
  font-size: 16rem;
  line-height: 1;
}

.title {
  font-size: 7rem;
  font-weight: var(--font-weight-bold);
}

.contents {
  font-size: var(--font-size-h3);
  text-align: center;
  line-height: 1.65;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
}

.buttons > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4.6rem;
  padding: 0 2.4rem;
  font-size: var(--font-size-sm);
  color: var(--white);
  border-radius: var(--border-radius-lg);
  background-color: var(--primary);
}
