.main_fit {
  position: relative;
  padding: 60px 0;
  background-color: var(--red-100);
}
.main_fit::before {
  content: "";
  width: 200vw;
  position: absolute;
  height: 100%;
  left: -100vw;
  top: 0;
  z-index: -1;
  background-color: var(--red-100);
}
.no_data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.8rem;
}

@media (max-width: 964px) {
  .fit_list {
    flex-wrap: nowrap;
    overflow-y: auto;
    margin: 0 -2rem;
    padding: 0 2rem;
  }
  .fit_list::-webkit-scrollbar {
    display: none;
  }
  .fit_list > li {
    min-width: 312px;
  }
}
@media (max-width: 744px) {
  .main_fit {
    padding: 40px 0;
  }
  .fit_list > li {
    min-width: 171px;
  }
  .no_data {
    height: 100px;
    font-size: 1.3rem;
  }
}
