.Toastify {
  top: 16px !important;
}
.Toastify__toast {
  border-radius: 5px !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  background-color: var(--red-300) !important;
  color: var(--white) !important;
  width: auto !important;
  min-height: auto !important;
  height: auto !important;
  padding: 10px 16px !important;
}
.Toastify__close-button {
  display: none !important;
}
