.empty-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 2rem;
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius-xl);
}

.empty-message {
  margin-bottom: 2.7rem;
}
