.top {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 60px;
  bottom: 30px;
  right: 30px;
  border-radius: 50px;
  background-color: #f5d1ca;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 99999;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
  opacity: 0;
  transition: all .5s;
  visibility: hidden;
}

.top.active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1199px) {

  .top {
    display: none;
  }

}